* {
    margin: 0,5;
    padding: 0;
}

body {
    height: 100vh;
    box-sizing:border-box;
    background-color: #cbd2d0;
}
h1 {
    text-align: center;
    color:#9D37ED;
}
h2 {color: #D937ED;
    text-align: center;

}
.atributo-sicario {
    display: flex;
    justify-content: space-between;
    
}
.pontos-de-atributos {
    justify-content: space-between; 
}
#img-sicario {
        filter: drop-shadow(2px 2px 2px purple);
        text-align:left;
        width:40%;
        height:40%;
        float: left;
}